body {
	font: 300 1.13rem "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin: 0;
	padding: 0;
}
.container {
	-js-display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-flow: column wrap;
	-webkit-flex-flow: column wrap;
	flex-flow: column wrap;
}
.item {
	background: #666;
	color: #fff;
	-webkit-flex: 1 0 auto;
	flex: 1 0 auto;
	justify-content: center;
	margin: 1px 2px;
	padding: 1rem;
	text-align: center;
}

.one   { background: #00847f; }
.two   { background: #51c3c1; }
.three { background: #bce9e6; }
.four  { background: #ff8100; }
.five  { background: #d143a9; }

.alt .one   { -ms-flex-order: 5; order: 5; }
.alt .two   { -ms-flex-order: 2; order: 2; }
.alt .three { -ms-flex-order: 1; order: 1; }
.alt .four  { -ms-flex-order: 3; order: 3; }
.alt .five  { -ms-flex-order: 4; order: 4; }